body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: aqua; 
} */

/* .appHeader {
  height: 60px;
   background-color: rgb(225, 225, 235);
} */

/* .pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
} */

/* .AppFooter {
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: rgb(225, 225, 235);
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
} */
